/* 
    1. Need to work with font size
    8.5=11.33, 15=20, 10=13.33, 10.5=14, 
    2. Font family 
*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
}

body {
  background-color: #ddd;
}

.address_name,
.date_time_status,
.products,
.calculation {
  font-size: 11.33px;
}
.subtotal, .sales_tax, .total, .cash, .charge_due {
  display: flex;
  width: 140px;
  justify-content: space-between;
}

.container {
  margin: 0 auto;
  width: 300px;
  padding: 0 30px;
  background-color: white;
}

.logo_container {
  padding-top: 50px;
}
.logo_container .logo {
  width: 236px;
  height: 84.5px;
  display: block;
  margin: 0 auto 32px;
}

.address_name {
  margin-bottom: 16px;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
.address_name .address {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address_name .name_code {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 0 8px;
}
.address_name .name_code .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date_time_status {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.date_time_status .date_time {
  display: flex;
  gap: 8px;
}

.products {
  margin-bottom: 12px;
}
.products .product {
  display: flex;
  gap: 4px;
  align-items: end;
  justify-content: space-between;
}
.products .product .product_name {
  margin: 0;
  position: relative;

}
.products .product .product_name .text-content {
  display: inline-block;
  text-indent: -16px;
  padding-left: 16px; 
}

.calculation {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.calculation .charge_due {
  padding-left: 16px;
}

.barcode {
margin: 32px 0 16px;
}
.barcode .barcode_time_date {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: -7px;
  position: relative;
  z-index: 9;
}
.barcode svg {
  width: 88%;
  height: 55px;
  display: block;
  margin: 0 auto;
}
.barcode .barcode_lower {
  font-size: 12.33px;
  text-align: center;
  /* line-height: 6px; */
  /* line-height: 85%; */
  margin-top: -7px;
  position: relative;
}

.return_policy {
  font-size: 11.33px;
  padding-bottom: 16px
}
.return_policy .title {
  text-align: center;
}
.return_policy .expire {
  /* padding-left: 8px; */
  padding-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.return_policy .expire .center {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 11.33px;
  text-align: center;
}
.did_we_nail_it {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}

.footer {
  text-align: center;
  font-size: 11.33px;
  padding-bottom: 50px;
}
.footer .middle, .link {
  margin: 8px 0 16px;
}

/* input field css start from here  */
.input_container {
  margin: 0 auto;
  width: 375px;
  padding: 0 20px;
  background-color: white;
}

.input_container input {
  width: 100%;
  height: 35px;
  padding-left: 5px;
  border-radius: 3px;
}
.input_container .name_code {
  padding: 0;
  margin-top: 5px;
  gap: 4px;
  align-items: end;
}
.input_container .name_code .name input {
  width: 97px;
}
.input_container .products .product {
  display: unset;
  align-items: unset;
}
.input_container .products .product .productInputDivide {
  display: flex;
  gap: 4px;
}

.input_container .subtotal, .input_container .sales_tax, .input_container .total, .input_container .cash, .input_container .charge_due {
  display: flex;
  width: 255px;
  justify-content: space-between;
  align-items: center;
}
.input_container .showSecondPartContainer{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 12px;
    font-size: 20px;
}
.input_container .showSecondPartContainer input{
    width: 15px;
    height: 15px;
    margin-top: 2px;
}

